.header_wrapper {
    font-family: "Raleway", sans-serif;
    width: 100%;
    max-height: 90px;
    min-height: 60px;

    box-shadow: 0px 1px 3px rgba(26, 26, 26, 0);
    font-size: 0.9rem;
    color: #424242;
    z-index: 3;
    position: relative;

    height: calc(100vw / 10);
    background: rgba(255, 255, 255, 1);

    @media only screen and (min-width: 768px) {
        height: calc(100vw / 9);
        background: rgba(255, 255, 255, 0.7);
    }
}

.header {
    overflow: hidden;

    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0 1em 0 1em;

    font-size: inherit;
    align-items: center;
    justify-content: space-around;

    flex: 1;

    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        // padding: 20px 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        flex-basis: auto;

        & > li {
            & > a {
                box-sizing: border-box;
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                color: inherit;
                font-size: 1.15em;
                font-weight: 400;
                padding: 0.5em 0.5em;
                transition: all 0.3s;
                border: 1px solid transparent;

                &:hover {
                    border: 1px solid rgb(118, 118, 118);
                }
            }
        }
    }
}

.header_hamburger {
    justify-self: flex-start;
    display: flex;
    cursor: pointer;
}

.header_logo {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 40%;
    justify-content: center;

    & > a {
        max-width: 200px;
        width: 100%;
    }
}

.header_search {
    display: flex;
    justify-self: flex-end;

    justify-content: flex-end;
}

svg.menuclose_btn {
    display: none;
}

.spacer {
    display: block;
    z-index: 4;

    &:after {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.468);
    }
}

.menu {
    box-sizing: border-box;
    position: fixed;
    z-index: 20;

    max-width: 290px;
    width: 85%;
    height: 100vh;

    margin-left: -85%;

    background: #fff;
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid rgba(30, 30, 30, 0.085);

    transition: all 0.5s ease;

    @media only screen and (min-width: 768px) {
        background: rgba(255, 255, 255, 0.7);
    }

    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding: 20px 15px;

        & > li {
            margin-bottom: 0.2em;

            & > a {
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                color: inherit;
                font-size: 1.15em;
                font-weight: 400;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0.5em 0;
                transition: all 0.3s;

                &:hover {
                    padding-left: 0.2em;
                    border-bottom: 1px solid rgb(118, 118, 118);
                }
            }
        }
    }
}

.trigger_input#menu_trigger {
    display: none;

    &:checked,
    &[aria-expanded="true"] {
        // & ~ .header_wrapper {
        //     position: fixed;
        //     top: 0;
        //     left: 0;
        // }

        & + .spacer {
            &:after {
                width: 100%;
                z-index: 3;
                margin-left: 0;
            }
        }

        & ~ .header_wrapper > .header > .header_hamburger > .menuopen_btn {
            display: none;
        }

        & ~ .header_wrapper > .header > .header_hamburger > .menuclose_btn {
            display: block;
        }

        & ~ .header_wrapper > .menu {
            margin-left: 0;
        }
    }
}
